<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Data</title>
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <a href='/'>dashboard</a> | 
        <a href='/dashboard/submitList'>submit list</a> | 
        <a href='/dashboard/verifiedList'>verified list</a> | 
        <a href='/login/configure'>configure</a> | 
        <a href='/signup/logout' class='signout'>signout</a>
    </header>
   
    <h1>Compare Data</h1>  
    <h3>Identifier: <%= originalData.accessLink %></h3>
    <% if(originalData.disabled){ %> 
        <h3 class="disabled">This contact has been disabled. You can enable it in the configure menu under the edit list option.</h3> 
    <% } %>
    <section class="container">
        <section>
            <h2>Original Data</h2>
            <p>Full Name:
                <% if(originalData.name && originalData.name.middleInitial && originalData.name.middleInitial.includes('/')){ %>
                    <span <% submitData.every(el => { %>
                        <%= el.name.firstName.trim() === (originalData.name.firstName +' '+ originalData.name.middleInitial +' '+ originalData.name.lastName).split('/')[0].trim() ? '' : 'class=strike' %> 
                    <% }) %> > <%= (originalData.name.firstName +' '+ originalData.name.middleInitial +' '+ originalData.name.lastName).split('/')[0] %></span>
    /
                    <span <% submitData.every(el => { %>
                        <%= el.name.lastName.trim() === (originalData.name.firstName +' '+ originalData.name.middleInitial +' '+ originalData.name.lastName).split('/')[1].trim() ? '' : 'class=strike' %> 
                    <% }) %> > <%= (originalData.name.firstName +' '+ originalData.name.middleInitial +' '+ originalData.name.lastName).split('/')[1] %></span>


                <% } else { %>
                    <span <% submitData.every(el => { %>
                        <%= el.name.firstName === originalData.name.firstName ? '' : 'class=strike' %> 
                    <% }) %> > <%= originalData.name.firstName %></span> 
                
                    <span <% submitData.every(el => { %>
                        <%= el.name.middleInitial === originalData.name.middleInitial ? '' : 'class=strike' %> 
                    <% }) %> > <%= originalData.name.middleInitial %> </span>
                
                    <span <% submitData.every(el => { %>
                        <%= el.name.lastName === originalData.name.lastName ? '' : 'class=strike' %> 
                    <% }) %> ><%= originalData.name.lastName %> </span>
                <% } %>
                
            </p>
            <p>email: 
                <span <% submitData.every(el => { %>
                    <%= el.name.email === originalData.name.email ? '' : 'class=strike' %> 
                <% }) %> ><%= originalData.email %> </span>
            </p>
            <p>address: 
                <span <% submitData.every(el => { %>
                    <%= el.address.street === originalData.address.street ? '' : 'class=strike' %> 
                <% }) %> ><%= originalData.address.street %> </span>

                <span <% submitData.every(el => { %>
                    <%= el.address.city === originalData.address.city ? '' : 'class=strike' %> 
                <% }) %> ><%= originalData.address.city %> </span>
                
                <span <% submitData.every(el => { %>
                    <%= el.address.state === originalData.address.state ? '' : 'class=strike' %> 
                <% }) %> ><%= originalData.address.state %> </span>

                <span <% submitData.every(el => { %>
                    <%= el.address.zipcode === originalData.address.zipcode ? '' : 'class=strike' %> 
                <% }) %> ><%= originalData.address.zipcode %> </span>
            </p>
            <p>
                phone number: <% originalData.phones.forEach(numbers => { %>
                    <span <%= submitPhones.includes(numbers.number) ? '' : 'class=strike' %> > 
                        <%= numbers.number %> <%= numbers.numberType %> 
                    </span>
                <% }) %>
            </p>
        </section>
        <section>
            <h2 class="verified">Verified Data</h2>
            <% if(verifiedData.length !== 0){ %>
                <p>
                    Full Name: <%= verifiedData[0].name.firstName %> <%= verifiedData[0].name.middleInitial %> <%= verifiedData[0].name.lastName %>
                </p>

                <p>
                    email: <%= verifiedData[0].email %>
                    email use: <%= verifiedData[0].emailUse %>
                </p>

                <p>
                    address: <%= verifiedData[0].address.street %> <%= verifiedData[0].address.city %> <%= verifiedData[0].address.state %> <%= verifiedData[0].address.zipcode %>
                </p>

                <p>phone number: <% verifiedData[0].phones.forEach((numbers, i) => { %>
                    <%= numbers.number %> <%= numbers.numberType %>
                <% }) %></p>
                
                <p> date: <%= verifiedData[0].timestamp.toDateString() %> - <%= verifiedData[0].timestamp.toLocaleTimeString() %></p>

                <input type="hidden" name="id" value="<%= verifiedData[0]._id %>">

            <% }else { %>
                <p>No data has been verified</p>
            <% } %>
        </section>
    </section>

    <section class="container">
        <form action='/dashboard/confirm' method="POST">
            <% submitData.forEach((el, current) => { %>
                <section class="submitData <%= el.verifiedDate || originalData.disabled ? 'disabled' : '' %>">
                    <h2>Submitted Data</h2>
                    <p>
                        <input type="radio" name="fullName" <%= el.verifiedDate || originalData.disabled ? 'disabled' : '' %> value="<%= el.name.firstName %>$<%= el.name.middleInitial %>$<%= el.name.lastName %>"> Full Name: <%= el.name.firstName %> <%= el.name.middleInitial %> <%= el.name.lastName %>
                    </p>

                    <p>
                        <input class="email" type="radio" name="email" <%= el.verifiedDate || originalData.disabled ? 'disabled' : '' %> value="<%= el.email ? `${el.email}$${el.emailUse}`: '' %>"> email: <%= el.email %>
                        email use: <%= el.emailUse %>
                    </p>

                    <p>
                        <input type="radio" name="address" <%= el.verifiedDate || originalData.disabled ? 'disabled' : '' %> value="<%= el.address.street %>$<%= el.address.city %>$<%= el.address.state %>$<%= el.address.zipcode %>"> address: <%= el.address.street %> <%= el.address.city %> <%= el.address.state %> <%= el.address.zipcode %>
                    </p>

                    <p>phone number: <% el.phones.forEach((numbers, i) => { %>
                        <input type="checkbox" name="phoneNumber" <%= el.verifiedDate || originalData.disabled ? 'disabled' : '' %> 
                        value="<%= numbers.number %>$<%= numbers.numberType %>"> <%= numbers.number %> <%= numbers.numberType %>
                    <% }) %></p>
                    
                    <p> date: <%= el.timestamp.toDateString() %> - <%= el.timestamp.toLocaleTimeString() %></p>
                    <% if(el.verifiedDate || originalData.disabled){ %>
                        
                    <% }else { %>
                        <input type="hidden" name="id" value="<%= el._id %>">
                    <% } %>
                </section>
            <% }) %>

            <% let alreadyVerified = submitData.every((el) => el.verifiedDate  )%>

            <input type="hidden" name="accessLink" value="<%= originalData.accessLink %>">
            <input type="submit" <%= originalData.disabled || alreadyVerified ? 'disabled' : '' %>>
        </form>
    </section>

</body>
</html>