<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Data</title>
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <a href='/'>home</a>
        <a href='/signup/logout' class='signout'>signout</a>
        <a href='/login/configure'>configure</a>
    </header>
   
    <h1>Compare Data</h1>  
        
    <section>
        <h2>Original Data</h2>
        <p>Full Name: 
            <span <% submitData.every(el => { %>
                <%= el.name.firstName === originalData[0].name.firstName ? '' : 'class=strike' %> 
            <% }) %> > <%= originalData[0].name.firstName %></span> 
        
            <span <% submitData.every(el => { %>
                <%= el.name.middleInitial === originalData[0].name.middleInitial ? '' : 'class=strike' %> 
            <% }) %> > <%= originalData[0].name.middleInitial %> </span>
        
            <span <% submitData.every(el => { %>
                <%= el.name.lastName === originalData[0].name.lastName ? '' : 'class=strike' %> 
            <% }) %> ><%= originalData[0].name.lastName %> </span>
        </p>
        <p>email: 
            <span <% submitData.every(el => { %>
                <%= el.name.email === originalData[0].name.email ? '' : 'class=strike' %> 
            <% }) %> ><%= originalData[0].email %> </span>
        </p>
        <p>address: 
            <span <% submitData.every(el => { %>
                <%= el.address.street === originalData[0].address.street ? '' : 'class=strike' %> 
            <% }) %> ><%= originalData[0].address.street %> </span>

            <span <% submitData.every(el => { %>
                <%= el.address.city === originalData[0].address.city ? '' : 'class=strike' %> 
            <% }) %> ><%= originalData[0].address.city %> </span>
            
            <span <% submitData.every(el => { %>
                <%= el.address.state === originalData[0].address.state ? '' : 'class=strike' %> 
            <% }) %> ><%= originalData[0].address.state %> </span>

            <span <% submitData.every(el => { %>
                <%= el.address.zipcode === originalData[0].address.zipcode ? '' : 'class=strike' %> 
            <% }) %> ><%= originalData[0].address.zipcode %> </span>
        </p>
        <p>phone number: <% originalData[0].phones.forEach(numbers => { %>
            <span 
                <%= submitPhones.includes(numbers.number) ? '' : 'class=strike' %> 
            > <%= numbers.number %> <%= numbers.numberType %> </span>
        <% }) %></p>
    </section>
<% submitData.forEach(el => { %>
    <section class="submitData">
        <h2>Submitted Data</h2>
        <p>Full Name: <%= el.name.firstName %> <%= el.name.middleInitial %> <%= el.name.lastName %></p>
        <p>email: <%= el.email %></p>
        <p>address: <%= el.address.street %> <%= el.address.city %> <%= el.address.state %> <%= el.address.zipcode %></p>
        <p>phone number: <% el.phones.forEach(numbers => { %>
            <%= numbers.number %> <%= numbers.numberType %>
        <% }) %></p>
    </section>
<% }) %>
<h3>Identifier: <%= originalData[0].accessLink %></h3>

</body>
</html>