<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contacts</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href='/login/configure'>configure</a> | 
        <a href='/dashboard/verifiedList'>verified list</a> | 
        <a href='/signup/logout' class='signout'>signout</a>
    </header>
   
    <main>
        <section>
            <div>Contacts with emails: <%= emailCount %></div>
            <div><a href="/dashboard/submitList">Submitted: <%= submitCount %></a></div>
            <div>Unique Submits: <%= uniqueSubmitCount %></div>
            <div>Form accessed through custom link: <%= linkedAccessed %></div>
            <div>Form accessed without custom link: <%= noLinkAccessed %></div>
            <div>Contacts verified: <%= verifiedContacts %></div>
        </section>
        
        <section>
            <h1>Contact List</h1>
            <section class='contactTable'>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Numbers</th>
                        <th>Mailing Address</th>
                        <th>LinkId</th>
                        <th>Timestamp</th>
                        <th>Status</th>
                        <th>Accessed</th>
                        <th>Disable/Enable</th>
                    </tr>
                    <% reservations.forEach( (el) => { %>
                    <tr class="<%= el.disabled ? 'disabled' : 'enabled' %>">
                        <td><%= el.name.firstName %> <%= el.name.middleInitial %> <%= el.name.lastName %> <%= el.name.secondLastName %></td>
                        <td><%= el.email %></td>
                        <td>
                            <% el.phones.forEach( phone => { %>
                                <p class='table'><%= phone.numberType %>: <%= phone.number %></p>
                            <% }) %>
                        </td>
                        <td>
                            <% if(el.address) { %>
                                <p class='table'><%= el.address.street %></p>
                                <p class='table'><%= el.address.city ? `${el.address.city},` : '' %> <%= el.address.state %> <%= el.address.zipcode %></p>
                            <% } %>
                        </td>
                        <td>
                            <% if (el.disabled === false) { %>
                                <a href="/dashboard/letter/<%= el.accessLink %>"><%= el.accessLink %></a>
                            <% } else { %>
                                Disabled <%= el.accessLink %>
                            <% } %>
                        </td>
                        <td><%= el.timestamp.toDateString() %> - <%= el.timestamp.toLocaleTimeString() %></td>
                        <td>
                            <% if(el.status.includes('submits')){ %>
                                <a href='/dashboard/compare/<%= el.accessLink %>'><%= el.status %></a>
                            <% }else { %>
                                <%= el.status %>
                            <% } %>
                        </td>
                        <td><%= el.accessed %></td>
                        <td>
                            <% if (el.disabled === false) { %>
                                <a href='/login/toggleContact?accessLink=<%= el.accessLink %>' class='button'>Disable Access</a>
                            <% } else { %>
                                <a href='/login/toggleContact?accessLink=<%= el.accessLink %>' class='button'>Enable Access</a>
                            <% } %>
                        </td>
                    </tr>
                    <% }) %>
                </table>
            </section>
        </section>
    </main> 
    <script src="../js/main.js"></script>
</body>
</html>