<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Information</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <h1>Letter Model</h1>
    <ul><li><a href='#'>Print</a></li><li><a href='#'>Send as email</a></li></ul>

    <address>
        <%= `${info.name.firstName} ${info.name.middleInitial ? info.name.middleInitial : ''} ${info.name.lastName}` %><br>
        <%= info.address.street %><br>
        <%= info.address.city %>, <%= info.address.state %> <%= info.address.zipcode %>
    </address>
    <p>RE: Information Update</p>
    <p>Our agency need to update your information. Please scan the code or enter the link in a browser to do so.</p>
    <p>www.localhost:3000/updateInformation/<%= info.accessLink %></p>
    <!-- code -->

    <p>Sincerly</p>
    <p>officials name</p>

    
 

<!-- Cancel rest -->

    <script src="../../js/main.js"></script>
</body>
</html>