<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Information</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <h1>Contact Information Submitted</h1>
    <p>Thankyou for updating your information.</p>
 
   
    <h2>1. Contact Name</h2>
    <h3><%= bodyFill.firstname ? bodyFill.firstname : bodyFill.names[0] %> 
        <%= bodyFill.middleinitial ? bodyFill.middleinitial : ' / ' %>
        <%= bodyFill.lastname ? bodyFill.lastname : bodyFill.names[1] %>
    </h3>

    <h2>2. Postal Address</h2>
    <p><%= bodyFill.urbName ? bodyFill.urbName : 'n/a' %><br>
    <%= bodyFill.streetaddr ? bodyFill.streetaddr : 'n/a' %><br>
    <%= bodyFill.city ? `${bodyFill.city},` : 'n/a' %> <%= bodyFill.state ? bodyFill.state : 'n/a' %> <%= bodyFill.zip ? bodyFill.zip : 'n/a' %></p>

    <h2>3. Phone Numbers</h2>

        <% if( typeof bodyFill.number === 'object'){ %>     
            <% for(let i=0; i<bodyFill.number.length; i++) { %>
                <p><%= bodyFill.type[i] ? `${bodyFill.type[i]}:` : 'n/a' %> <%= bodyFill.number[i] %></p>
            <% } %>
        <% } else { %>
            <p><%= bodyFill.type ? `${bodyFill.type}:` : 'n/a' %> <%= bodyFill.number ? bodyFill.number : 'n/a' %></p>
        <% } %>


    <h2>4. Email Address</h2>
    <p><%= bodyFill.email ? bodyFill.email : 'n/a' %></p>
    <p>Can we use this email to comunicate with you for official purposes? <%= bodyFill.selector ?  bodyFill.selector : 'n/a' %></p>






<!-- Cancel rest -->

    <script src="../../js/main.js"></script>
</body>
</html>