<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <button class='signout'>signout</button>
        <a href='/login/configure' class='button'>configure email/calendar</a>
    </header>
    <h1>Set Available Dates</h1>
    <h2>Available Dates Left: <%= left %></h2>
    <form action="/setDates/createTimeSlot" method='POST'>
        <input type="text" placeholder="Name" name='nameItem'><br>
        <input type="text" placeholder="email" name='emailItem'><br>
        <input type="text" placeholder="location" name='locationItem'><br>
        <input type="text" placeholder="subject" name='subjectItem'><br>
        <input type="text" placeholder="duration" name='durationItem'><br>
        <fieldset><input type="date" placeholder="Enter a Date" name='dateItem'>
        <input type="time" placeholder="Enter a Time" name='timeItem'><button type="button" class='addDate'>Add</button></fieldset>
        <ul id='timeSlots'><li>Dates</li></ul>
        <input type="submit">
    </form>
    
    <br>
<table>
    <tr>
        <td>name</td>
        <td>email</td>
        <td>location</td>
        <td>subject</td>
        <td>duration</td>
        <td>linkId</td>
    </tr>
    <% reservations.forEach( (el) => { %>
    <tr>
        <td><%= el.name %></td>
        <td><%= el.email %></td>
        <td><%= el.location %></td>
        <td><%= el.subject %></td>
        <td><%= el.duration %></td>
        <td><a href='setDates/selectTimeSlot/<%= el.linkId %>'><%= el.linkId %></a></td>
        <td><% timeSlots.forEach( (ele) => { %>
            <% if (ele.linkId === el.linkId) { %> 
                <%= ele.selectedSlot ? 'Reserved' : 'Unreserved' %>
            <% } %>   
        <% }) %>
        </td>
    </tr>
    <% }) %>
</table>
    <script src="../js/main.js"></script>
</body>
</html>