<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contacts</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href='/signup/logout' class='signout'>signout</a>
        <a href='/login/configure'>configure</a>
    </header>
   
    <main>
        <h1>Contact List</h1>
        <section>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Numbers</th>
                    <th>Mailing Address</th>
                    <th>linkId</th>
                    <th>timestamp</th>
                </tr>
                <% reservations.forEach( (el) => { %>
                <tr class="<%= el.disabled ? 'disabled' : 'enabled' %>">
                    <td><%= el.name.firstName %> <%= el.name.middleInitial %> <%= el.name.lastName %> <%= el.name.secondLastName %></td>
                    <td><%= el.email %></td>
                    <td>
                        <% el.phones.forEach( phone => { %>
                            <p><%= phone.numberType %>: <%= phone.number %></p>
                        <% }) %>
                    </td>
                    <td>
                        <p><%= el.address.street %></p>
                        <p><%= el.address.city %>, <%= el.address.state %> <%= el.address.zipcode %></p>
                    </td>
                    <td>
                        <% if (el.disabled === false) { %>
                            <%= el.accessLink %>
                        <% } else { %>
                            Disabled
                        <% } %>
                    </td>
                    <td><%= el.timestamp %></td>
                </tr>
                <% }) %>
            </table>
        </section>
    </main> 
    <script src="../js/main.js"></script>
</body>
</html>