<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Contacts</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href='/'>dashboard</a> | 
        <a href='/login/configure'>configure</a> |
        <a href='/dashboard/verifiedList'>verified list</a> |  
        <a href='/signup/logout' class='signout'>signout</a>
    </header>
   
    <main>
        <h1>Submitted List</h1>
        <section class='contactTable'>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Accessed</th>
                    <th>Submits</th>
                    <th>verified</th>
                    <th>linkId / compare</th>
                    <th>timestamp</th>
                </tr>
                <% submitData.forEach( (el) => { %>
                <tr class="<%= el.disabled ? 'disabled' : 'enabled' %>">
                    <td><%= el.name.firstName %> <%= el.name.middleInitial %> <%= el.name.lastName %> <%= el.name.secondLastName %></td>
                    <% collectedData.forEach( (item) =>{ %>
                        <% if(item.linkID === el.accessLink){ %>
                            <td>
                                <%= item.accessed %>
                            </td>
                            <td>
                                <%= item.submits %>
                            </td>
                            <td>
                                <%= item.verified %>
                            </td>
                        <% } %>
                    <% }) %>
                    <td>
                        <% if(el.accessLink.includes(' ')){ %>
                        <ul>
                            <% el.accessLink.trim().split(' ').forEach(accessCode => { %>
                                <li><a href="/dashboard/compare/<%= accessCode.split('$')[0] %>"><%= accessCode.split('$')[0] %></a> <%= accessCode.split('$')[1] %> <%= accessCode.split('$')[2] %> <%= accessCode.split('$')[3] ? accessCode.split('$')[3] : '' %>
                                    
                                    <form action="/dashboard/editAccessLinks/" method="POST">
                                        <input type="hidden" name="selectedAccessLink" value='<%= accessCode.split('$')[0] %>'>
                                        <input type="hidden" name="originalAccessLink" value='<%= el.accessLink %>'>
                                        <input type="submit" value="Keep">
                                    </form>
                                </li>
                            <% }) %>
                        </ul>
                        <% } else{ %>
                            <% if (el.disabled === false || !el.disabled) { %>
                                <a href="/dashboard/compare/<%= el.accessLink %>"><%= el.accessLink %></a>
                            <% } else { %>
                                Disabled <%= el.accessLink %>
                            <% } %>
                            
                        <% } %>
                    </td>
                    <td><%= el.timestamp.toDateString() %> - <%= el.timestamp.toLocaleTimeString() %></td>
                </tr>
                <% }) %>
            </table>
        </section>
    </main> 
    <script src="../js/main.js"></script>
</body>
</html>