<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contacts</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href='/'>dashboard</a> | 
        <a href='/dashboard/submitList'>submit list</a> | 
        <a href='/login/configure'>configure</a> | 
        <a href='/signup/logout' class='signout'>signout</a>
    </header>
   
    <main>        
        <section>
            <h1>List of Verified Contact Information</h1>
            <section class='contactTable'>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Numbers</th>
                        <th>Mailing Address</th>
                        <th>LinkId</th>
                        <th>Timestamp</th>
                    </tr>
                    <% reservations.forEach( (el) => { %>
                    <tr class="<%= el.disabled ? 'disabled' : 'enabled' %>">
                        <td><%= el.name.firstName %> <%= el.name.middleInitial %> <%= el.name.lastName %> <%= el.name.secondLastName %></td>
                        <td><%= el.email %></td>
                        <td>
                            <% el.phones.forEach( phone => { %>
                                <p class='table'><%= phone.numberType %>: <%= phone.number %></p>
                            <% }) %>
                        </td>
                        <td>
                            <% if(el.address) { %>
                                <p class='table'><%= el.address.street %></p>
                                <p class='table'><%= el.address.city ? `${el.address.city},` : '' %> <%= el.address.state %> <%= el.address.zipcode %></p>
                            <% } %>
                        </td>
                        <td>
                            <% if (el.disabled === false) { %>
                                <%= el.accessLink %>
                            <% } else { %>
                                Disabled <%= el.accessLink %>
                            <% } %>
                        </td>
                        <td><%= el.timestamp.toDateString() %> - <%= el.timestamp.toLocaleTimeString() %></td>
                    </tr>
                    <% }) %>
                </table>
            </section>
        </section>
    </main> 
    <script src="../js/main.js"></script>
</body>
</html>